@import "tailwindcss";

.trapezoid {
  /* clip-path: polygon(5% 0%, 100% 95%, 100% 0%, 0% 100%); */
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}
select {
  color: #9ca3af; /* Tailwind's text-gray-400 to match inputs with placeholder */
}

select:focus,
select:valid {
  color: #000000; /* Black text on selection/focus */
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.game-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.game-image {
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
  animation: slideIn 0.5s ease forwards;
}